/* to display only the current image */
.carousel {
    overflow: hidden;
    height: 100vh;
}

/* to display all images in one line & add animation */
.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    height: 90vh;
}